@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBEBE3;
  --foreground: #171717;
}

@layer base {
  body {
    @apply bg-[#fffcc9];
  }

   h1, h2, h3 {
    font-family: var(--font-londrina);
  }

}

.react-tabs__tab {
  background-color: rgba(251, 235, 227, 0.7);
  padding: 0.5rem;
  width: 90px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: background-color 0.2s;
}


.react-tabs__tab.react-tabs__tab--selected {
  background-color: rgba(251, 235, 227);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funnel);
}
